<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Effort-aware Task Planner</title>
  </head>
  <body>
    <div id="titleBanner">
      <h1 id="title">✨ Effort-aware Task Planner</h1>
    </div>
    <div id="taskContainer" action="#" method="post">
      <div id="controlButtons">
        <button id="addTaskButton">Add a new task</button>
        <button id="enterTasksButton" type="submit">Plan task order</button>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
